.informationHeader{
  /* width: 100%; */
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
  padding: 0px 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.cashPanel{
  flex: 2;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.statisticPanel{
  flex: 3;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.tablePanel{
  flex: 4;
  height: 100%;
}

.informationHeaderAvatar img{ 
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.cashTag{
  width: 30%;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cashTagControlButton{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.cashTagButton {
  border: none;
  width: 30%;
  height: 30px;
  border-radius: 5px;
}

.cashTagAddMoneyButton:hover{
  background-color: green;
  color: white;
}

.cashTagTransferButton:hover{
  background-color: blue;
  color: white;
}

.cashTagReduceButton:hover{
  background-color: red;
  color: white;
}

.cashTag h1{
  font-size: 40px;
}


.cashTag p{
  font-size: 25px;
}

.statisticTable{
  background-color: white;
  margin: 10px 0px;
  border-radius: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.leftPanel{
  margin-right: 10px;
}

.rightPanel{
  margin-left: 10px;
}

.statisticTable .tableTitle{
  font-size: 25px;
}

.statisticTable .tableMainNumber{
  font-weight: 700;
  font-size: 75px;
}

.tablePanel{
  display: flex;
  width: 100%;
}

.historyPanel{
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.transactionHistory{
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

