.App{
  display: flex;
  overflow: hidden;
  width: 100%;
  background-color: rgb(233, 233, 233);
  height: 100vh;
}

.mainContainer{
  flex: 5;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.sidebarContainer{
  flex: 1;
}


